<a href="https://colab.research.google.com/github/githubSELIA/ALGORITMA-pyten-SELIA/blob/main/P5_Selia_2C1240041.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Program HelloWorld
#Mencetak Hello, World! ke layar

#KAMUS
#belum diperlukan

#ALGORITMA
print('Hello, World')

Hello, World

In [2]:
#proses memasukan data ke dalam variabel
nama = "John Doe"
#proses mencetak variabel
print(nama)
#nilai dan tipe data dalam variabel dapat diubah
umur = 20 #nilai awal
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
umur = "dua puluh satu" #nilai setelah diubah
print(umur) #mencetak nilai umur
type(umur) #mengecek tipe data umur
namaDepan = "Budi"
namaBelakang = "Susanto"
nama = namaDepan + " " + namaBelakang
umur = 22
hobi = "Berenang"
print("Biodata\n", nama, "\n", umur, "\n", hobi)

John Doe
20
dua puluh satu
Biodata
 Budi Susanto
 22
 Berenang

In [3]:
#contoh variabel lainya
inivariabel = "Halo"
ini_juga_variabel = "Hai"
_inivariabeljuga = "Hi"
inivariabel222 = "Bye"
panjang = 10
lebar = 5
luas = panjang * lebar
print(luas)

50

In [8]:
print("Hello, World!") # (1)
print("Ini program", end="") # (2)
print(" pertama saya") # (3)
print("Dengan", "Koma")
# Ini akan menghasilkan luaran "Dengan Koma"
print("Dengan" + " Plus")
# Ini akan menghasilkan luaran "DenganPlus"
# Perhatikan '+' pada print melakukan konkatenasi pada string saja.
variabel = " sebuah nilai"
print(f"Dengan format {variabel}")
# Ini akan menghasilkan luaran "Dengan format sebuah nilai"
# {variabel} akan diubah dengan nilai dari variabel bersesuaian

# Ini adalah sebuah komentar.
# Semua yang ada setelah tanda pagar (#) akan diabaikan oleh interpreter.
"""
Selain itu, kita juga bisa membuat komentar multi-baris dengan tiga petik
"""

Hello, World!
Ini program pertama saya
Dengan Koma
Dengan Plus
Dengan format  sebuah nilai

'\nSelain itu, kita juga bisa membuat komentar multi-baris dengan tiga petik\n'

In [12]:
S = input("Masukkan kalimat: ") #(1)
print("Anda memasuk kan kalimat: " + S) #(2)
N = int(input("Masukkan sebuah angka: ")) # (3)
print("Jika angka Anda ditambah 5, hasilnya: " + str(N + 5)) #(4)

Masukkan kalimat: makan malam
Anda memasuk kan kalimat: makan malam
Masukkan sebuah angka: 1
Jika angka Anda ditambah 5, hasilnya: 6

In [15]:
#tipe data Boolean
print(True)
#tipe data String
print("Ayo belajar Python")
print('Belajar Python Sangat Mudah')
#tipe data Integer
print(20)
#tipe data Float
print(3.14)
#tipe data Hexadecimal
print(0x9a) # Perbaikan: menambahkan awalan 0x
#tipe data Complex
print(5j)
#tipe data List
print([1,2,3,4,5])
print(["satu", "dua", "tiga"])
#tipe data Tuple
print((1,2,3,4,5))
print(("satu", "dua", "tiga"))
#tipe data Dictionary
print({"nama":"Budi", 'umur':20})
#tipe data Dictionary dimasukan ke dalam variabel biodata
biodata = {"nama":"Andi", 'umur':21} #proses inisialisasi variabel biodata
print(biodata) #proses pencetakan variabel biodata yang berisi tipe data Dictionary
print(type(biodata)) #fungsi untuk mengecek jenis tipe data. akan tampil
#<class 'dict'> yang berarti dict adalah tipe data dictionary

True
Ayo belajar Python
Belajar Python Sangat Mudah
20
3.14
154
5j
[1, 2, 3, 4, 5]
['satu', 'dua', 'tiga']
(1, 2, 3, 4, 5)
('satu', 'dua', 'tiga')
{'nama': 'Budi', 'umur': 20}
{'nama': 'Andi', 'umur': 21}
<class 'dict'>

In [16]:
x = float(5)
print(x)

5.0

In [17]:
x = int(5.6)
print(x)

5

In [18]:
x = str(9)
print(x)

9

In [21]:
x = set([1, 2, 3])
y = tuple({5, 6, 7})
z = list(("hello"))
print(x)
print(y)
print(z)

{1, 2, 3}
(5, 6, 7)
['h', 'e', 'l', 'l', 'o']

In [22]:
x = 8
y = 2
result = x + y
print(result)

10

In [26]:
# Penjumlahan
print(13 + 2)
apel = 7
jeruk = 9
buah = apel + jeruk # Menjumlahkan jumlah apel dan jeruk
print(f"Jumlah buah: {buah}")
# Pengurangan
hutang = 10000
bayar = 5000
sisa_hutang = hutang - bayar # Menghitung sisa hutang
print(f"Sisa hutang Anda adalah {sisa_hutang}")
# Perkalian
panjang = 15
lebar = 8
luas = panjang * lebar # Menghitung luas persegi panjang
print(f"Luas persegi panjang: {luas}")
# Pembagian
kue = 16
anak = 4
kue_per_anak = kue / anak # Menghitung bagian kue per anak
print(f"Setiap anak akan mendapatkan bagian kue sebanyak {kue_per_anak}")
# Sisa Bagi / Modulus
bilangan1 = 14
bilangan2 = 5
hasil = bilangan1 % bilangan2 # Menghitung sisa bagi
print#(f"Sisa bagi dari bilangan {bilangan1} dan {bilangan2} adalah{hasil}")
# Pangkat
bilangan3 = 8
bilangan4 = 2
hasil_pangkat = bilangan3 ** bilangan4 # Menghitung hasil pangkat
print(f"Hasil pangkat: {hasil_pangkat}")
# Pembagian Bulat
print(10 // 3)
# 10 dibagi 3 adalah 3.3333. Karena dibulatkan maka akan menghasilkannilai3

15
Jumlah buah: 16
Sisa hutang Anda adalah 5000
Luas persegi panjang: 120
Setiap anak akan mendapatkan bagian kue sebanyak 4.0
Hasil pangkat: 64
3

In [2]:
# SAMA DENGAN
print(1 == 1) # Hasilnya akan bernilai True karena satu sama dengan satu
print(1 == 2) # Hasilnya akan bernilai False karena satu tidak sama dengandua
# TIDAK SAMA DENGAN
print(2 != 2) # Hasilnya akan bernilai False karena dua seharusnya samadengan dua
print(2 != 3) # Hasilnya akan bernilai True karena dua tidak sama dengantiga

True
False
False
True

In [4]:
# LEBIH BESAR DARI
print(5 > 3) # Hasilnya akan bernilai True karena lima lebih besar daritiga
# LEBIH KECIL DARI
print(5 < 3) # Hasilnya akan bernilai False karena lima tidak lebih besardari tiga
# LEBIH BESAR DARI SAMA DENGAN
print(5 >= 3) # Hasilnya akan bernilai True karena lima lebih besar darisama dengan tiga
# LEBIH KECIL DARI SAMA DENGAN
print(5 <= 3) # Hasilnya akan bernilai False karena lima tidak lebih besardari sama dengan tiga

True
False
True
False

In [5]:
# Input panjang sisi persegi
sisi = float(input("Masukkan panjang sisi persegi: "))

# Menghitung luas persegi
luas = sisi * sisi

# Menampilkan hasil
print("Luas persegi adalah:", luas)

Masukkan panjang sisi persegi: 5
Luas persegi adalah: 25.0

In [7]:
# Meminta input dari pengguna
nama = input("Masukkan Nama: ")
nim = input("Masukkan NIM: ")
fakultas = input("Masukkan Fakultas: ")
jurusan = input("Masukkan Jurusan: ")
kota_asal = input("Masukkan Kota Asal: ")
alamat = input("Masukkan Alamat: ")

# Menampilkan semua data yang telah dimasukkan
print("\nData Mahasiswa:")
print("Nama        :", nama)
print("NIM         :", nim)
print("Fakultas    :", fakultas)
print("Jurusan     :", jurusan)
print("Kota Asal   :", kota_asal)
print("Alamat      :", alamat)

Masukkan Nama: Selia
Masukkan NIM: 2C1240041
Masukkan Fakultas: Sains dan teknologi
Masukkan Jurusan: Agribisnis
Masukkan Kota Asal: Riau
Masukkan Alamat: Indragiri hilir riau

Data Mahasiswa:
Nama        : Selia
NIM         : 2C1240041
Fakultas    : Sains dan teknologi
Jurusan     : Agribisnis
Kota Asal   : Riau
Alamat      : Indragiri hilir riau