<a href="https://colab.research.google.com/github/githubSELIA/ALGORITMA-pyten-SELIA/blob/main/P8_SELIA_2C1240041.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**FUNDAMENTAL ARRAY**

In [4]:
arr = [10, 20, 30, 40]

In [5]:
list_numbers = [1, 2, 3, 4, 5]

In [6]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100

**MENDEKLARASIKAN ARRA**Y

In [7]:
arr = [1, 2, 3, 4, 5]

In [8]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda

In [9]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0

In [10]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

**PEMROSESAN SEKUENSIAL ARRAY**

In [11]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [12]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

**LATIHAN SOAL NO 1**

In [25]:
arr = [3, 21, 10, 80, 12, 8, 19, 1, 7, 2, 11, 32, 5, 44]
nilai_maks = max(arr)
print("rata rata nilai maksimum arr adalah" , nilai_maks)
nilai_min = min(arr)
print("nilai minimum arr adalah" , nilai_min)
penjumlahan = sum(arr)
print("hasil penjumlahan seluruh elemen arr adalah", penjumlahan)
jumlah_arr = len(arr)
print("jumlah seluruh elemen arr adalah" , jumlah_arr)
rata_rata = sum(arr)/len(arr)
print("rata-rata seluruh elemen arr adalah", rata_rata)

rata rata nilai maksimum arr adalah 80
nilai minimum arr adalah 1
hasil penjumlahan seluruh elemen arr adalah 255
jumlah seluruh elemen arr adalah 14
rata-rata seluruh elemen arr adalah 18.214285714285715

In [23]:
#program untuk mencari nilai terbesar dari elemen array

#masukkan elemen array T
T1= [7,12,3,-1,0,4,-21,3,55,14]
nilai_terbesar = max(T1)
nilai_terkecil = min(T1)
print("nilai terbesar dari elemen array T1 adalah:", nilai_terbesar)
print("nilai terkecil dari elemen array T1 adalah:", nilai_terkecil)

#masukkan elemen array T
T2=[1,3,5,8,-12,200,3,5]
nilai_terbesar =max(T2)
nilai_terkecil =min(T2)
print("nilai terbesar dari elemen array T2 adalah:", nilai_terbesar)
print("nilai terkecil dari elemen array T2 adalah:", nilai_terkecil)

nilai terbesar dari elemen array T1 adalah: 55
nilai terkecil dari elemen array T1 adalah: -21
nilai terbesar dari elemen array T2 adalah: 200
nilai terkecil dari elemen array T2 adalah: -12

**LATIHAN 1 BU SEVI**

In [16]:
S = [4,1,-1,10,0,12]
D = int(input("masukkan nilai D: "))
S = [x * D for x in S]
print("Array setelah dikalikan dengan D:", S)

masukkan nilai D: 5
Array setelah dikalikan dengan D: [20, 5, -5, 50, 0, 60]

**LATIHAN 2 BU SEVI**

In [17]:
N = int(input("Masukkan jumlah elemen array T (N): "))

print("Masukkan elemen-elemen array T:")
T = [int(input(f"Elemen ke-{i+1}: ")) for i in range(N)]

# Cari nilai terbesar
nilai_terbesar = T[0]  # Inisialisasi nilai terbesar dengan elemen pertama
for elemen in T:
    if elemen > nilai_terbesar:
        nilai_terbesar = elemen

# Output nilai terbesar
print("Nilai terbesar dari array T adalah:", nilai_terbesar)

Masukkan jumlah elemen array T (N): 4
Masukkan elemen-elemen array T:
Elemen ke-1: 3
Elemen ke-2: 6
Elemen ke-3: 7
Elemen ke-4: 9
Nilai terbesar dari array T adalah: 9